<button [routerLink]="''" class="btn btn-info">Strona startowa</button>
<button class="btn btn-primary" (click)="callLoadBalancer()">
  <fa-icon icon="spinner" [spin]="calling"></fa-icon>
  Call Load Balancer
</button>
<button class="btn btn-info" (click)="loadStats()">
  <fa-icon icon="sync" [spin]="loadingStats"></fa-icon>
  Refresh Chart
</button>
<ng-container *ngIf="firstSet">
  <h3>Chart presenting average response time on time axis with 20 seconds interval</h3>
  <p-chart type="line" [data]="firstSet"></p-chart>
</ng-container>
<ng-container *ngIf="secondSet">
  <h3>Chart presenting called times on time axis with 20 seconds interval</h3>
  <p-chart type="line" [data]="secondSet"></p-chart>
</ng-container>
